li {
    list-style-type: none;
}

.slide-wrapper {
    position: relative;
    width: 660px;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
    margin-left: 60px;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
}
.slides.animated {
    transition: 0.5s ease-in-out;
}
.slides li {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    float: left;
    text-align: center;
}
.slides li:not(:last-child) {
    margin-right: 30px;
}
.controls {
    width: 660px;
    display: flex;
    text-align: center;
    margin-top: 50px;
}
.controls .prev, .next {
    position: absolute;
    top: 25%;
    cursor: pointer;
}
.controls .next {
    left: 68%;
}